<ion-view title="Landing" class="">
    <ion-pane padding="true" class="landing landing-buttons">
    	<span class="landing-logo">
    		<i class="fa fa-bicycle"></i>
    	</span>
	       <div style="position: absolute; bottom: 0px; width: 90%;">
	        <div style="">
	          <button style="padding:"class="button button-balanced button-block" ng-click='signIn()'>Logsads	 In</button>
	        <button  ng-click="loginFacebook()" class="button button-calm button-block icon-left ion-social-facebook ">Sign in with Facebook</button>
	        </div>
	    </div>
    </ion-content>
</ion-view>

