<ion-view title="Search">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
   <ion-content has-header="true">
      <div id="profile-bg"></div>
      <div id="content">
        <div id="profile-info">
          <img id="profile-image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/94311/me.png">
          <h3 id="profile-name">Max</h3>
          <span id="profile-description">Co-creator of <a href="http://twitter.com/ionicframework">@ionicframework</a>, founder of
            <a href="http://twitter.com/driftyco">@driftyco</a></span>
        </div>
        
      </div>
    </ion-content>
</ion-view>