<ion-side-menus>

  <ion-side-menu-content>
    <ion-nav-bar class="bar-light nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    
     
    <ion-content class="has-header">
      <div class="item item-avatar" href="#">
      <img src="">
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
    </div>
      <ion-list>
        <ion-item menu-close href="#/app/menu">
          <i class="icon icon-left fa fa-cutlery"></i>
          &nbsp Menu222
        </ion-item>
        <ion-item menu-close href="#/app/cart">
          <i class="icon-left fa fa-pencil-square-o"></i>
           &nbspOrders (2)
        </ion-item>
        <ion-item menu-close href="#/app/menu">
          <i class="icon-left fa fa-heart-o"></i>
           &nbspFavorites
        </ion-item>
        <ion-item menu-close href="#/app/profile">
          <i class="icon-left fa fa-credit-card"></i>
           &nbspPayment
        </ion-item>
        <ion-item menu-close href="#/app/profile">
          <i class="icon-left fa fa-list-alt"></i>
           &nbspHistory
        </ion-item>
        <ion-item menu-close href="#/app/profile">
          <i class="icon-left fa fa-cogs"></i>
           &nbspAccount
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>